body
    background-color: #f5f6fa
    font-size: 14px
    font-family: 'Roboto', sans-serif;

h2,h3,h4,h5,ul,body,html
    padding: 0px
    margin: 0px

.mtop16
    margin-top: 16px

.wrapper
    min-height: 100vh
    overflow hidden
    .col1
        float: left
        position: relative
        z-index: 999
        width: 17%
    .col2
        float: left 
        width: 83%

.sidebar
    background-color: #104547
    min-height: 100vh
    .section-top
        background-color: #fff
        box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.15)
    .logo
        display: block
        margin: 0px auto
        padding-top: 24px
        width: 50%
    .user
        color: #0982C7 !important
        padding: 16px
        a
            color: #0982C7
            font-size: 1.2em
    .main
        margin-top: 8px
        display: block
        ul
            li
                margin-bottom: 6px
                a
                    color: #fff
                    font-size: 1.2em
                    display: block
                    margin-top: 8px
                    padding: 2px 16px
                    i 
                        margin-right: 10px
                    &:hover
                        background-color: #f5f6fa
                        box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.15)
                        color: #213242
                        text-decoration: none
                a.active
                    background-color: #f5f6fa
                    box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.15)
                    color: #213242
                    text-decoration: none

.navbar
    background-color: #1F7A8C
    a
        color: #fff
.page
    padding-top: 16px
    padding-bottom: 16px
    .breadcrumb
        background-color: #fff
        box-shadow: 0 0.5rem 1rem #9CC5A1
        .breadcrumb-item
            a 
                &:hover
                    color: #4A1942
                    text-decoration: none
    .panel
        background-color: #fff
        border-radius: 6px
        border-bottom: 2px solid 
        width 100%
        .header
            border-bottom: 1px solid  #9CC5A1
            h3.title
                display: inline-block
                color: #4A1942
                font-size: 1.2em
                padding: 12px 16px
        .inside
            padding: 16px
            .nav
                .nav-link
                    border: 1px solid #4A1942
                    border-radius: 6px
                    margin-right: 8px
                    &:hover
                        background-color: #4A1942
                        color: #fff
                .edit_avatar
                    img 
                        border-radius: 50%
                        margin: 0px auto
                        display: block
                        width: 120px
            .big_count
                display: block
                font-size: 2em
                text-align: center
                color: #1F7A8C
                width: 100%        
            .custom-file
                .custom-file-input
                    cursor pointer
            .btn-success
                background-color: #1F7A8C
                border: 0px
                padding: 8px 32px
                &:hover
                    background-color: #F7B801
                    color: black
            .input-group
                .btn
                    background-color: #292F36
                    color:#09E85E
                    &:hover
                        background-color: #1F7A8C
                        color: #fff
        .infor
            display: block
            font-size: 1em
            text-align: center
            width: 100%
            a
                color:#104547
                text-decoration: none   
                i 
                    color:#104547
                    text-decoration: none
                &:hover
                    color: #1F7A8C                    
   
.opts
    a
        border-radius: 4px
        border: 1px solid #213242
        display: inline-block
        padding: 8px 12px

.page_user
    .mini_profile
        img
            border-radius: 50%
            display: block
            margin: 0px auto
            width: 120px
        .info
            color:  #213242
            span
                display: block
                font-size: 1.1em
                width: 100%
            span.title
                font-weight: bold
                margin-top: 16px